interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.datos.gov.co/api/views/n48w-gutb.json
  response:
    body:
      string: "{\n  \"id\" : \"n48w-gutb\",\n  \"name\" : \"Internet Fijo Accesos
        por tecnolog\xEDa y segmento\",\n  \"assetType\" : \"dataset\",\n  \"attribution\"
        : \"Ministerio de Tecnolog\xEDas de la Informaci\xF3n y las Comunicaciones
        - MinTIC, Bogot\xE1 D.C.\",\n  \"attributionLink\" : \"http://colombiatic.mintic.gov.co/\",\n
        \ \"averageRating\" : 0,\n  \"category\" : \"Ciencia, Tecnolog\xEDa e Innovaci\xF3n\",\n
        \ \"createdAt\" : 1527794518,\n  \"description\" : \"N\xFAmero de suscriptores
        con acceso dedicado a Internet para cada uno de los departamentos y municipios
        de Colombia, seg\xFAn los datos reportados por los proveedores al \xFAltimo
        d\xEDa de cada trimestre. Basados en estos datos y en las proyecciones del
        DANE para la poblaci\xF3n por municipio, departamento y en total en Colombia,
        se muestra el porcentaje de penetraci\xF3n de Internet fijo. Periodo 2015-4T
        2019-1T\",\n  \"diciBackend\" : false,\n  \"displayType\" : \"table\",\n  \"downloadCount\"
        : 7659,\n  \"hideFromCatalog\" : false,\n  \"hideFromDataJson\" : false,\n
        \ \"licenseId\" : \"CC_40_BY_SA\",\n  \"locale\" : \"en_US\",\n  \"locked\"
        : false,\n  \"newBackend\" : true,\n  \"numberOfComments\" : 0,\n  \"oid\"
        : 37929376,\n  \"provenance\" : \"official\",\n  \"publicationAppendEnabled\"
        : false,\n  \"publicationDate\" : 1636580214,\n  \"publicationGroup\" : 15238230,\n
        \ \"publicationStage\" : \"published\",\n  \"rowsUpdatedAt\" : 1708723927,\n
        \ \"tableId\" : 18507272,\n  \"totalTimesRated\" : 0,\n  \"viewCount\" : 22576,\n
        \ \"viewLastModified\" : 1779123326,\n  \"viewType\" : \"tabular\",\n  \"approvals\"
        : [ {\n    \"reviewedAt\" : 1533309040,\n    \"reviewedAutomatically\" : true,\n
        \   \"state\" : \"approved\",\n    \"submissionId\" : 4218991,\n    \"submissionObject\"
        : \"public_audience_request\",\n    \"submissionOutcome\" : \"change_audience\",\n
        \   \"submittedAt\" : 1533309040,\n    \"targetAudience\" : \"public\",\n
        \   \"workflowId\" : 2188,\n    \"submissionDetails\" : {\n      \"permissionType\"
        : \"READ\"\n    },\n    \"submissionOutcomeApplication\" : {\n      \"failureCount\"
        : 0,\n      \"status\" : \"success\"\n    },\n    \"submitter\" : {\n      \"id\"
        : \"cw5t-ib5h\",\n      \"displayName\" : \"Ministerio TIC Oficina TI Gesti\xF3n
        de Informacion\"\n    }\n  } ],\n  \"clientContext\" : {\n    \"clientContextVariables\"
        : [ ],\n    \"inheritedVariables\" : { }\n  },\n  \"columns\" : [ {\n    \"id\"
        : 551577974,\n    \"name\" : \"A\xD1O\",\n    \"dataTypeName\" : \"text\",\n
        \   \"description\" : \"\",\n    \"fieldName\" : \"anno\",\n    \"position\"
        : 1,\n    \"renderTypeName\" : \"text\",\n    \"tableColumnId\" : 114762210,\n
        \   \"width\" : 150,\n    \"cachedContents\" : {\n      \"non_null\" : \"2795052\",\n
        \     \"largest\" : \"2023\",\n      \"null\" : \"0\",\n      \"top\" : [
        {\n        \"item\" : \"2022\",\n        \"count\" : \"754858\"\n      },
        {\n        \"item\" : \"2023\",\n        \"count\" : \"614227\"\n      },
        {\n        \"item\" : \"2021\",\n        \"count\" : \"399848\"\n      },
        {\n        \"item\" : \"2020\",\n        \"count\" : \"342123\"\n      },
        {\n        \"item\" : \"2019\",\n        \"count\" : \"293282\"\n      },
        {\n        \"item\" : \"2018\",\n        \"count\" : \"233772\"\n      },
        {\n        \"item\" : \"2017\",\n        \"count\" : \"156886\"\n      },
        {\n        \"item\" : \"2016\",\n        \"count\" : \"56\"\n      } ],\n
        \     \"smallest\" : \"2016\",\n      \"count\" : \"2795052\",\n      \"cardinality\"
        : \"2795052\"\n    },\n    \"format\" : { }\n  }, {\n    \"id\" : 551577975,\n
        \   \"name\" : \"TRIMESTRE\",\n    \"dataTypeName\" : \"text\",\n    \"description\"
        : \"\",\n    \"fieldName\" : \"trimestre\",\n    \"position\" : 2,\n    \"renderTypeName\"
        : \"text\",\n    \"tableColumnId\" : 114762209,\n    \"width\" : 165,\n    \"cachedContents\"
        : {\n      \"non_null\" : \"2795052\",\n      \"largest\" : \"4\",\n      \"null\"
        : \"0\",\n      \"top\" : [ {\n        \"item\" : \"3\",\n        \[...]
