interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.us.socrata.com/api/catalog/v1?domains=www.datos.gov.co&q=internet%20por%20departamento&only=dataset&limit=5
  response:
    body:
      string: "{\n  \"results\" :\n    [\n      {\n        \"resource\" :\n          {\n
        \           \"name\" : \"Internet Fijo Accesos por tecnolog\xEDa y segmento\",\n
        \           \"id\" : \"n48w-gutb\",\n            \"resource_name\" : null,\n
        \           \"parent_fxf\" : [],\n            \"description\" : \"N\xFAmero
        de suscriptores con acceso dedicado a Internet para cada uno de los departamentos
        y municipios de Colombia, seg\xFAn los datos reportados por los proveedores
        al \xFAltimo d\xEDa de cada trimestre. Basados en estos datos y en las proyecciones
        del DANE para la poblaci\xF3n por municipio, departamento y en total en Colombia,
        se muestra el porcentaje de penetraci\xF3n de Internet fijo. Periodo 2015-4T
        2019-1T\",\n            \"attribution\" : \"Ministerio de Tecnolog\xEDas de
        la Informaci\xF3n y las Comunicaciones - MinTIC, Bogot\xE1 D.C.\",\n            \"attribution_link\"
        : \"http://colombiatic.mintic.gov.co/\",\n            \"contact_email\" :
        null,\n            \"type\" : \"dataset\",\n            \"updatedAt\" : \"2026-05-18T16:55:26.000Z\",\n
        \           \"createdAt\" : \"2018-05-31T19:21:58.000Z\",\n            \"metadata_updated_at\"
        : \"2026-05-18T16:55:26.000Z\",\n            \"data_updated_at\" : \"2024-02-23T21:32:07.000Z\",\n
        \           \"page_views\" :\n              {\n                \"page_views_last_week\"
        : 206,\n                \"page_views_last_month\" : 1150,\n                \"page_views_total\"
        : 22576,\n                \"page_views_last_week_log\" : 7.693486957499325,\n
        \               \"page_views_last_month_log\" : 10.16867211813223,\n                \"page_views_total_log\"
        : 14.462566175108332\n              },\n            \"columns_name\" :\n              [\n
        \               \"TECNOLOGIA\",\n                \"A\xD1O\",\n                \"DEPARTAMENTO\",\n
        \               \"PROVEEDOR\",\n                \"VELOCIDAD_SUBIDA\",\n                \"COD_DEPARTAMENTO\",\n
        \               \"No DE ACCESOS\",\n                \"TRIMESTRE\",\n                \"SEGMENTO\",\n
        \               \"VELOCIDAD_BAJADA\",\n                \"COD_MUNICIPIO\",\n
        \               \"MUNICIPIO\"\n              ],\n            \"columns_field_name\"
        :\n              [\n                \"tecnologia\",\n                \"anno\",\n
        \               \"departamento\",\n                \"proveedor\",\n                \"velocidad_subida\",\n
        \               \"cod_departamento\",\n                \"no_de_accesos\",\n
        \               \"trimestre\",\n                \"segmento\",\n                \"velocidad_bajada\",\n
        \               \"cod_municipio\",\n                \"municipio\"\n              ],\n
        \           \"columns_datatype\" :\n              [\n                \"Text\",\n
        \               \"Text\",\n                \"Text\",\n                \"Text\",\n
        \               \"Text\",\n                \"Text\",\n                \"Text\",\n
        \               \"Text\",\n                \"Text\",\n                \"Text\",\n
        \               \"Text\",\n                \"Text\"\n              ],\n            \"columns_description\"
        :\n              [ \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\",
        \"\", \"\" ],\n            \"columns_format\" :\n              [\n                {},\n
        \               {},\n                {},\n                {},\n                {
        \"decimalSeparator\" : \".\", \"groupSeparator\" : \",\" },\n                {},\n
        \               {},\n                {},\n                {},\n                {
        \"decimalSeparator\" : \".\", \"groupSeparator\" : \",\" },\n                {},\n
        \               {}\n              ],\n            \"download_count\" : 7659,\n
        \           \"provenance\" : \"official\",\n            \"lens_view_type\"
        : \"tabular\",\n            \"lens_display_type\" : \"table\",\n            \"locked\"
        : false,\n            \"backend\" : \"nbe\",\n            \"blob_mime_type\"
        : null,\n            \"hide_from_data_json\" : false,\n            \"publication_date\"
        : \"2021-11-10T21:36:54.000Z\"\n          },\n        \"classification\" :\n
        \         {\n            \"categories\" : [],\n            \"tags\" : [],\n
        \           \"domain_category\" : \"Ciencia, Tecnolog\xEDa e Innovaci\xF3n\",\n
        \           \"domain_tags\" :\n              [\n                \"municipios
        proveedores trimestre\",\n                \"departamentos\",\n                \"internet\",\n
        \               \"suscriptores\",\n                \"internet fijo\"\n              ],\n
        \           \"domain_metadata\" :\n              [\n                { \"key\"
        : \"Informaci\xF3n-de-Datos_Idioma\", \"value\" : \"Espa\xF1ol\" },\n                {\n
        \                 \"key\" : \"Informaci\xF3n-de-Datos_Cobertura-Geogr\xE1fica\",\n
        \                 \"value\" : \"Nacional\"\n                },\n                {\n
        \                 \"key\" : \"Informaci\xF3n-de-Datos_Frecuencia-de-Actualizaci\xF3n\",\n
        \                 \"value\" : \"Trimestral\"\n                },\n                {\n
        \                 \"key\" : \"Informaci\xF3n-de-la-Entidad_Sector\",\n       [...]
